.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.item-image img {
    width: 500px;
    height: auto;
}

.item-info {
    padding: 0 20px;
}

.item-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.item-info p {
    font-size: 16px;
    margin-bottom: 10px;
}

.item-info button {
    background-color: #777777; /* Green */
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
}

.item-info button:hover {
    background-color: #a9a9a9;
}
