.card {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  background-color: #ffffff;
  max-width: 300px;
  margin: 10px 10px;
  padding: 5px;

}
#link{}

.image{
  animation-name: image;
  animation-duration: .25s;
  animation-iteration-count: 1;
}

@keyframes image {
  0%  {opacity: 0;}
  100% {opacity: 1;}
}
.price {
  font-size: large;
}
.minimal {
  font-size: small;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-text {
  padding: 5px;
  text-align: left;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-bottom{
  display: flex;
  justify-content: space-between ;
  text-align: left;
}


@media (max-width: 700px) {
  .card{
    .image{
      width: 220px;
    }
  }
}

@media (max-width: 540px) {
  .card{
    width: 150px;
    margin: 5px 0px;
    #link{
      font-size: small;
    }
    .card-text{
      font-size: x-small;
    }
    .image{
      width: 150px;
    }
  }
}